:root {
    --main-color: #7d9e7f;
    --main-text-color: #441400
}


* {
    margin: 0;
    font-family: Helvetica;
    outline: 3px solid gold;

}



body {
    display: flex;
    margin: 5px;
    flex-direction: column;
    min-height: 100vh;
    /* border: 5px solid var(--main-color); */
    justify-content: top;
    align-items: center; 

}

hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;

}

img{
    display: block;
    margin: 0 auto;
    width: 36%;
    margin-bottom: 10px;

}


header {
    color: var(--main-text-color);
    font-size: 60px;
    font-weight: 600;
    margin: 15px 0;
    text-align: center;
    
}

subheader{
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 4px 0 16px 0;

    
}


main {
    width: 40%;
    background-color:#cacea0;
    border-radius: 30px;

}

h1 {
    color: var(--main-text-color);
    font-size: 33px;
    padding: 10px 93px 10px 93px;
    margin: 50px 0px 30px 0px;
    font-family: Verdana;
    text-align: center;
    font-weight: 320;
    width: 0 auto;
}

form.foodLookup {
    position: relative; 
    left: 24%;
    /* transform: translateX(-10%); */
}

form.goalSetting {
    position: relative; 
    left: 16%;
    /* transform: translateX(-10%); */
}

form.foodLogging {
    position: relative; 
    left: 24%;
    /* transform: translateX(-10%); */
}


input {
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 4px;
    background: white;
    font-size: medium;
    color: #56261e;
    margin: 20px 0;
}

input[type=submit] {
    background: #fcdb99;
    width: 20%;

}

input[type=submit]:hover {
    background-color: #f5d085;
    color: white;
    transition: .6s ease-out 50ms;
  }


input[type=text] {
    border: 1px solid #ccc;
    width: 35%;
    padding: 12px 20px;
}

input::placeholder {
    color: #c4b8b8;
    text-align: center;

}

div.foodstats {
    padding: 20px 0 20px 0;
    text-align: left;
    color: #56261e;
    font-size: larger;
    font-weight: bold;


}

p.nutrients {
    padding: 10px 0;
    text-align: center;


}

select {
    padding: 10px 5px;
    color:#56261e;
    text-align:center;
    border: 1px solid #ccc;
    border-radius: 4px;

}