:root {
    --main-color: #7d9e7f;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica;

}

body {
    display: flex;
    margin: 5px;
    flex-direction: column;
    min-height: 100vh;
    /* border: 5px solid var(--main-color); */
    justify-content: top;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bnV0cml0aW9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80");
   background-size: cover;
   background-position: center;

}

main {
    width: 40%;
}

h1 {
    color: white;
    font-size: 21px;
    padding: 10px 93px 10px 93px;
    margin: 50px 0px 30px 0px;
    background-color: var(--main-color);
    text-align: center;
    font-weight: 520;
    border-radius: 30px;
}

input {
    border: 3px solid var(--main-color);
    height: 40px;
    width: 69%;
    border-radius: 30px;
}

input[type=submit] {
    color: var(--main-color);
    background: white;
    font-weight: 600;
    width: 30%;

}

input::placeholder {

    color: rgb(134, 119, 119);
    padding: 0 20px;

}
